*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Marck Script", cursive;
    line-height: 1.6rem;
}
:root{
    
    --primary-color:#00ff99;
    --cyan-color:#00ffff;
    --white-color:#fff;
    --text-color:#b4b4b4;
    --height-navbar:60px;
}
@keyframes fadeIn 
{
    from{
        transform: translateX(100%);
        
    }
    to{
        
        transform: translateX(0);
    }    
}